@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Playfair+Display:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos adicionales */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

body {
    font-family: 'Roboto', sans-serif;
  }
  
  .font-serif {
    font-family: 'Playfair Display', serif;
  }
  
  .nav-link {
    position: relative;
    display: inline-block;
  }
  
  .nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: currentColor;
    transition: width 0.3s ease;
  }
  
  .nav-link:hover::after {
    width: 100%;
    left: 0;
    background: currentColor;
  }

  .opacity-0 {
    opacity: 0;
  }
  
  .opacity-100 {
    opacity: 1;
  }
